body {
  padding-top: 60px;
}

.navbar {
  background: linear-gradient(90deg, #343a40 0%, #495057 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn {
    border-radius: 20px !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.navbar-brand:hover {
  transform: scale(1.05);
}

.nav-link {
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 500;
  background-color: rgba(51, 51, 51, 0.459) !important;
  border-radius: 20px;
  padding: 10px 15px !important;
  margin-left: 10px;
}

.nav-link:hover {
  color: #ffc107 !important;
  transform: translateY(-2px);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #ffc107;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 70%;
}

.navbar-toggler {
  border: none;
  background: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='m4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
    margin-top: 1rem;
  }
  .nav-item {
    margin-bottom: 0.5rem;
  }
}

.btn-secondary {
  background-color: #1d4364 !important;
  border-color: #000000 !important;
  color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease;
  font-weight: 600;
}

.footer-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #ffc107;
  transition: width 0.25s ease;
}

.footer-link:hover {
  color: #ffc107;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-text {
  color: #ffffff;
  font-weight: 600;
}

.home-img {
  border: 1px solid #0000006b;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px
}